.heading{
    font-family: 'PT Serif', serif;
}
.heading-confirm{
    font-family: 'Noto Serif', serif;
    font-size: 6rem;
}
h3{
    font-family: 'Noto Serif', serif;
    font-size: 3rem;
}
.btn-content{
    background-color: rgb(119, 117, 117);
    color: white;
    border-radius: 4px;
}