<section>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="heading">Do you have any<br> contacts?</h1>
                <p>This can include people who signed up to receive marketing email's
                    from your organization, or solely receive transsacional email's.
                    Learn more about contacts <a href="" class="text-info">here.</a>
                </p>
            </div>
            <div class="col-12">

                <div class="radio-button">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="standard" name="standard" class="custom-control-input"
                            (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
                            aria-controls="collapseExample">
                        <label class="custom-control-label" for="standard"></label>
                        <h5 class="mx-2 text-muted">Yes

                            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                                <label>How many email subscribers?</label>
                                <div class="card">


                                    <select id="inputState" class="form-control">
                                        <option selected>Select a Size</option>
                                        <option>...</option>
                                    </select>

                                </div>
                            </div>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2"></label>
                    <h5 class="mx-2 text-muted">No

                    </h5>
                </div>

            </div>
            <div class="col-12">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2"></label>
                    <h5 class="mx-2 text-muted">I'm not sure

                    </h5>
                </div>

            </div>
            <div class="col my-3">
                <button type="submit" class="btn btn-primary" routerLink="/offer"
                    routerLinkActive="active">Continue</button>
            </div>
        </div>
    </div>
</section>