<section class="centerpage">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-7">
                <h1>You're ready to go</h1>
                <p>Now that we know more about you.we'll be able to recommend
                    the best marketing moves for you in the future</p>
                <h3>Want to stay in the loop with Mailchimp?</h3>
            </div>
            <div class="col-12">
                <div class="custom-control custom-checkbox  my-2">
                    <input type="checkbox" class="custom-control-input" id="customCheckSubscribetoSuccess">
                    <label class="custom-control-label" for="customCheckSubscribetoSuccess"><strong> Subscribeto success
                            stories</strong>(Optional)<br>
                        <p class="text-muted"> A newsletter full of case studies and interviews of other <br> Mailchimp
                            customers who are really good at what they do.</p>
                    </label>
                </div>
                <div class="custom-control custom-checkbox  my-2">
                    <input type="checkbox" class="custom-control-input" id="customChecksubscribetoMailchimp">
                    <label class="custom-control-label" for="customChecksubscribetoMailchimp"><strong>Subscribe to
                            Mailchimp Presents</strong>(Optional)
                        <p class="text-muted">A monthly newsletter highlighting Mailchimp's original short-<br>form
                            series. films and podcasts made with entrepreneurs in <br> mind</p></label>
                </div>
                <div class="custom-control custom-checkbox  my-2">
                    <input type="checkbox" class="custom-control-input" id="customCheckSubscribetoCourier">
                    <label class="custom-control-label" for="customCheckSubscribetoCourier"><strong>Subscribe to Courier
                            weekly</strong>(Optional)
                        <p class="text-muted">Practical insights, news analysis and case studies of modern
                            <br>businesses. delivered to your inbox every week.</p></label>
                </div>

            </div>
            <div class="col">
                <button type="submit" class="btn btn-info my-3 px-4" routerLink="/ready" routerLinkActive="active">Let's
                    Go!</button>

            </div>
        </div>
    </div>
</section>