<section>
    <div class="container-fluid welcome-bg ">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <h1 class="heading-confirm my-5"><strong>Let's get this show on the road</strong></h1>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 my-5">
                <h3 class="heading-text">First, we need to confirm you're of the human sort</h3>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button type="button" class="btn btn-secondary text-capitalize px-5 my-5 py-2" routerLink="/account"
                    routerLinkActive="active"><strong>i'm not a robot</strong></button>

            </div>
        </div>
    </div>
</section>