<section>
  <div class="container">
    <div class="row">
      <div class="col-5">
        <h1 class="heading">What do you offers (Or plan to Offer)?</h1>
        <p class="text-muted">Select all the apply</p>
      </div>
      <div class="col-12">
        <div class="custom-control custom-checkbox  my-2">
          <input type="checkbox" class="custom-control-input" id="customCheckTechnology">
          <label class="custom-control-label" for="customCheckTechnology"> Technology or Software (online
            platforms,app,SaaS.etc)</label>
        </div>
        <div class="custom-control custom-checkbox  my-2">
          <input type="checkbox" class="custom-control-input" id="customCheckOriginal">
          <label class="custom-control-label" for="customCheckOriginal"> Original Content(blog, videos,
            photography,etc)</label>
        </div>
        <div class="custom-control custom-checkbox  my-2">
          <input type="checkbox" class="custom-control-input" id="customCheckPhysical">
          <label class="custom-control-label" for="customCheckPhysical"> Physical Goods </label>
        </div>
        <div class="custom-control custom-checkbox  my-2">
          <input type="checkbox" class="custom-control-input" id="customCheckServices">
          <label class="custom-control-label" for="customCheckServices"> Services </label>
        </div>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="customCheckOthers">
          <label class="custom-control-label" for="customCheckOthers"> Others </label>
        </div>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary my-3" routerLink="/ready" routerLinkActive="active">Select to
          Continue</button>
        <a href="" class="text-info mx-5">Skip</a>
      </div>
    </div>
  </div>
</section>