<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <!-- carousel -->
                <!-- heading -->
                <h1 class="heading">Let's set up your account</h1>
            </div>
            <!-- end of heading -->
            <!-- form -->
            <div class="col-md-12 col-lg-5 col-sm-12 my-3">
                <form [formGroup]="accountForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputFirstName">First Name</label>
                            <input
                                [class.is-invalid]="accountForm.get('firstName').invalid && accountForm.get('firstName').touched"
                                formControlName="firstName" type="name" class="form-control" id="inputFirstName">
                            <small
                                [class.d-none]="accountForm.get('firstName').valid || accountForm.get('firstName').untouched"
                                class="text-info">first name is required</small>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLastName">Last Name</label>
                            <input
                                [class.is-invalid]="accountForm.get('lastName').invalid && accountForm.get('lastName').touched"
                                formControlName="lastName" type="name" class="form-control" id="inputLastName">
                            <small
                                [class.d-none]="accountForm.get('lastName').valid || accountForm.get('lastName').untouched"
                                class="text-info">last name is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBusinessName">Business Name</label>
                        <input
                            [class.is-invalid]="accountForm.get('businessName').invalid && accountForm.get('businessName').touched"
                            formControlName="businessName" type="name" class="form-control" id="inputBusinessName">
                        <small
                            [class.d-none]="accountForm.get('businessName').valid || accountForm.get('businessName').untouched"
                            class="text-info"> Name is required</small>
                    </div>
                    <div class="form-group">
                        <label for="inputWebsiteURL">Website URL</label>
                        <input
                            [class.is-invalid]="accountForm.get('websiteUrl').invalid && accountForm.get('websiteUrl').touched"
                            formControlName="websiteUrl" type="name" class="form-control" id="inputWebsiteURL"
                            placeholder="https://">
                        <small
                            [class.d-none]="accountForm.get('websiteUrl').valid || accountForm.get('websiteUrl').untouched"
                            class="text-info"> Url is required</small>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Phone Number</label>
                        <input
                            [class.is-invalid]="accountForm.get('phoneNumber').invalid && accountForm.get('phoneNumber').touched"
                            formControlName="phoneNumber" type="number" class="form-control" id="inputPhoneNumber">
                        <small
                            [class.d-none]="accountForm.get('phoneNumber').valid || accountForm.get('phoneNumber').untouched"
                            class="text-info">phone number is required</small>
                    </div>


                    <button [disabled]="accountForm.invalid" type="submit" class="btn btn-primary" routerLink="/address"
                        routerLinkActive="active">Continue</button>
                </form>
            </div>
            <!-- end of form -->
            <!--end of carousel -->

        </div>
    </div>
</section>